# Hi everyone, this is the Data Engineer test answer 
### hosted by Boston Makmur Gemilang Company.

In [1]:
#import the needed library
import pandas as pd
import glob, os
from glob import glob

In [ ]:
# Change all txt files into Json
# using glob library to go through every folder, and use wildcard(*) to find the txt files
folder = 'C:\Csv_Databases\data_test_exam\ini_json\**'

for filename in glob.iglob(os.path.join(folder, '*.txt')):
    os.rename(filename, filename[:-4] + '.json')

In [6]:
#append json file into dataframe
#in this step we read through all the json.file that we have parsed before
df_test = pd.concat([pd.read_json(f_name, lines=True) for f_name in glob('C:\Csv_Databases\data_test_exam\ini_json\**\*json')])

In [7]:
shape = df_test.shape
    
print("Shape = {}".format(shape))

#theres 35351 rows & 5 columns

Shape = (35351, 5)

In [4]:
#import the necessary library to migrate dataframe to postgres server
import datetime as dt
import numpy as np
import sqlalchemy
import datetime

In [8]:
#change column 'at' to datetime
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35351 entries, 0 to 0
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event            35351 non-null  object
 1   on               35351 non-null  object
 2   at               35351 non-null  object
 3   data             35351 non-null  object
 4   organization_id  35351 non-null  object
dtypes: object(5)
memory usage: 1.6+ MB

In [12]:
#lets give it a check again after we have succesfully converted the at data type
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35351 entries, 0 to 0
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event            35351 non-null  object
 1   on               35351 non-null  object
 2   at               35351 non-null  datetime64[ns, UTC]
 3   data             35351 non-null  object
 4   organization_id  35351 non-null  object
dtypes: datetime64[ns, UTC](1), object(4)
memory usage: 1.6+ MB

In [13]:
#normalize column 'data' because the json is nested
df_test['data'].head()

0    {'id': 'bac5188f-67c6-4965-81dc-4ef49622e280',...
1    {'id': '3a3eb23a-f22e-4fe9-8c20-f37220a81909',...
2    {'id': 'f0b87796-b25c-40b0-9145-8822509c17e1',...
3    {'id': '9152c5d8-79cf-4fe3-96ad-359abb08a729',...
4    {'id': 'f06eb89c-ada0-41cb-bdd1-0a60398f901b',...
Name: data, dtype: object

In [14]:
data_normalized = pd.json_normalize(df_test['data'])

In [15]:
#now the 'data' is normalized and seperated by multiple columns
data_normalized.head()

,id,location.lat,location.lng,location.at,start,finish
0,bac5188f-67c6-4965-81dc-4ef49622e280,52.45133,13.46045,2019-06-01T18:17:10.101Z,NaN,NaN
1,3a3eb23a-f22e-4fe9-8c20-f37220a81909,52.45848,13.52647,2019-06-01T18:17:10.109Z,NaN,NaN
2,f0b87796-b25c-40b0-9145-8822509c17e1,52.50309,13.33435,2019-06-01T18:17:10.109Z,NaN,NaN
3,9152c5d8-79cf-4fe3-96ad-359abb08a729,52.50536,13.51655,2019-06-01T18:17:10.111Z,NaN,NaN
4,f06eb89c-ada0-41cb-bdd1-0a60398f901b,52.49697,13.44936,2019-06-01T18:17:10.111Z,NaN,NaN

In [ ]:
normalized_data_to_sql = data_normalized

In [ ]:
#lets define the engine to connect database to the postgresql server 
engine = sqlalchemy.create_engine("postgresql+psycopg2://postgres:belajar@localhost:5432/data_exam")

In [ ]:
# use the to_sql function to migrate our json file into postgreSQL server
df_test.to_sql('Exam_test',engine,if_exists='append', dtype={"data": sqlalchemy.types.JSON},)

In [ ]:
#import the data_normalized into PostgreSQL
normalized_data_to_sql.to_sql('Exam_test_Datas',engine,if_exists='append', dtype={"data": sqlalchemy.types.JSON},)

# Thank you, let's continue on the next step